{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flash-messages">
                    {% for message, category in messages %}
                        <div class="alert alert-{{ message }}">
                        {{ category }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
    </div>
</div>
{% endblock content %}